body {
  background-color: black;
  margin: 0;
  padding: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  overflow-x: hidden;
}
h3 {
  white-space: nowrap;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
nav {
  background-color: rgb(44, 44, 44);
  background-image: linear-gradient(to bottom, rgb(44, 44, 44) 45%, black);
  height: auto;
  display: flex;
  gap: 35px;
  align-items: center;
  padding-inline: 14px;
  padding-bottom: 50px;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
  width: 70vw;
  justify-content: center;
  align-items: center;
}
nav .item {
  justify-self: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  outline: none;
}
nav .item:hover {
  color: rgb(233, 216, 216);
}
.banner {
  display: flex;
  width: auto;
  align-items: center;
}
.banner img {
  width: 24px;
  margin-right: 5px;
}
.principal {
  display: flex;
  margin: 20px;
  flex-direction: column;
}
.principal .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 30px auto;
  width: auto;
  padding-inline: 20px;
  height: 50px;
  font-weight: bold;
  background: rgb(167, 167, 167);
  background: linear-gradient(
    90deg,
    rgba(167, 167, 167, 1) 0%,
    rgba(88, 88, 88, 1) 100%
  );
  border: 1px solid black;
  font-size: 1.02rem;
  border-radius: 7px;
  transition: 0.4s;
  box-shadow: 7px 7px 10px rgba(71, 71, 71, 0.4);
  outline: none;
}
.principal .btn i {
  font-size: 1.1rem;
}
.principal .btn:hover {
  transform: rotate(7deg);
  cursor: pointer;
  background: rgb(167, 167, 167);
  background: linear-gradient(
    90deg,
    rgba(167, 167, 167, 1) 100%,
    rgba(88, 88, 88, 1) 0%
  );
}
.principal h1 {
  text-transform: uppercase;
  margin: 0;
}
.principal p {
  margin-left: 10px;
  margin-top: 5px;
  line-height: 1.3;
  font-size: 1.08rem;
}
footer {
  display: flex;
  background-color: gray;
  color: black;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  bottom: 0;
  width: 100%;
}
img {
  max-width: 100%;
}
.vantagem1 img {
  width: 300px;
  height: 200px;
}
.vantagem2 img {
  width: 250px;
}
.vantagem3 img {
  width: 220px;
}
@media screen and (max-width: 992px) {
  .vantagem1 img {
    display: block;
    width: 200px;
    height: 150px;
  }
  .vantagem2 img {
    width: 250px;
    height: 200px;
  }
  .vantagem3 img {
    width: 220px;
    height: 200px;
  }
}
.vantagens section:nth-child(odd) {
  background-color: rgb(22, 22, 22);
  display: flex;
  padding: 10px;
  font-weight: bold;
}
.vantagens section:nth-child(even) {
  display: flex;
  background-color: rgb(31, 30, 30);
  padding: 10px;
}
.vantagens section p {
  align-self: center;
  margin-inline: 15px;
  font-weight: bold;
}
.vantagens section {
  display: flex;
  height: auto;
  justify-content: center;
  align-self: center;
}
.new_task {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 10px;
  bottom: 15px;
  width: 50px;
  height: 50px;
  padding: 10px;
  font-size: 4rem;
  border: 1px solid black;
  border-radius: 35%;
  background-color: rgb(33, 50, 197);
  cursor: pointer;
  z-index: 1;
  user-select: none;
  outline: none;
}
.tasksArea {
  height: 100vh;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(46, 46, 46);
  border-radius: 10px;
  width: 1px;
  height: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(65, 65, 65);
}
.about {
  margin-inline: 30px;
  font-weight: bold;
}
.links {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.links a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.links a:hover {
  color: lightskyblue;
}
